.grid-item {
  color: #fff;
  /* padding: 3.5em 1em; */
  /* font-size: 1em; */
  /* font-weight: 700; */
}

.main {
  color: lighten(#555, 25%);
  background-color: lighten(#efefef, 60%);
  grid-area: main;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.items {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  /* transform: scale(0.98); */
  will-change: transform;
  user-select: none;
  cursor: pointer;
}

.items.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  /* transform: scale(1); */
}

.item {
  display: inline-block;
  
  
}


/* ================================ */

.scroll-area {
	overflow: hidden;
	position: relative;
}

.scroll-area .scroll-area__body {
	position: relative;
  z-index: 5;
  padding-bottom: 24px;
}

.scroll-area--horizontal .scroll-area__body {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll-area--horizontal .scroll-area__body::-webkit-scrollbar {
	display: none;
}


	
.scroll-area__column {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	/* text-align: center;
	background: #fff; */
}


/* .scroll-area__column a {
	text-decoration: none;
	color: #576b95;
}


.scroll-area__column a span {
    color: #8d949e;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 15px 14px;
    text-align: center;
}
.scroll-area__column a span.selected {
	border-bottom: 2px solid #3578e5;
	color: #3578e5;
} */